<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Face Recognition</title>
  <link
    href="https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
    rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <main>
    <h1>Welcome
      {% if user.is_authenticated %}
          {{ user.email }}
      {% else %}
          guest
      {% endif %}
          to FaceID App!
    </h1>
    <div class="logo">
      <div class="logo__img-wrapper">
        <img src="{% static 'images/logo.png' %}" alt="logo" class="logo__img">
      </div>
      <h1 class="logo__title">NeuralFace</h1>
    </div>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
  </main>
</body>
</html>